<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SQLitePCL.raw_basic" version="0.5.0" allowedVersions="" targetFramework="MonoTouch10" />
	<package id="Zumero" version="1.5.0.2157" allowedVersions="" targetFramework="MonoTouch10" />
  <package id="Xamarin.Forms" version="1.2.2.6243"  allowedVersions="" targetFramework="MonoTouch10" />
</packages>
