<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">
  <Identity Name="b6fea33b-999f-4ea8-958a-ecf381f1d309"
            Publisher="CN=jeremy"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>demo.WinRT</DisplayName>
    <PublisherDisplayName>jeremy</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <mp:PhoneIdentity PhoneProductId="D797990D-3AA6-4648-962C-747003223412" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  
  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
  <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="demo.WinRT.App">
        <uap:VisualElements
            DisplayName="demo.WinRT"
            Square150x150Logo="Assets\Logo.png"
            Square44x44Logo="Assets\SmallLogo.png"
            Description="demo.WinRT"
            ForegroundText="light"
            BackgroundColor="#464646">
            <uap:SplashScreen Image="Assets\SplashScreen.png" />
        </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>